.idea/
node_modules/
typings/

.DS_Store

src/client/app/components/**/*.js
src/client/app/components/**/*.js.map
src/client/app/directives/**/*.js
src/client/app/directives/**/*.js.map
src/client/test-helpers/*.js
src/client/test-helpers/*.js.map
reports/

npm-debug.log
